.Talks--wrp{
	.seeAll a{
		color:$red;
		&:after{
			content:url("/storage/Gfx/Global/seeAll-red.svg");
		}
	}
}

.TalkCard--wrp{
	.drag{
		justify-content:space-between;
		> div{
			flex-basis:31.75%;
			padding:.1em;
			&:last-child .Talk-card{
				margin-right:0;
			}
		}
	}
}

.Talks--title{
	h2{
		background:$white;
		padding-right:.5em;
	}
}