.fxm{
	overflow:hidden;
	@media #{$larg} {
    	overflow:auto;
    }
    .App-header{
    	position:fixed;
    	width:100%;
    	z-index:100;
    	@media #{$larg} {
    		position:static;
    		width:auto;
    		z-index:auto;
    	}
    }
}
.fxs{
	overflow:hidden;
	.App-header{
    	position:fixed;
    	width:100%;
    	z-index:100;
    	@media #{$larg} {
    		position:static;
    		width:auto;
    		z-index:auto;
    	}
    }
}

.App{
	display:flex;
	flex-direction:column;
	min-height:100vh;
}

.Layout-width{
	width:90%;
	max-width:960px;
	margin:0 auto;
}


//BUTTONS

	//FILLED
	%btn{
		background:none;
		min-width:110px;
		border:1px solid transparent;
		padding:.5em 1em;
		height:40px;
		font-size:14px;
		position:relative;
		text-transform:uppercase;
		font-weight:bold;
		cursor:pointer;
		&:hover{
			transition:all $transition-fast;
		}
		@media #{$larg} {
	    	min-width:110px;
	    }
	}

	.btn-fw{
		@extend %btn;
		color:$black;
		background:$white;
		&:hover{
			color:$white;
			background:$light-blue;
		}
	}

	.btn-b{
		@extend %btn;
		background:$black;
		color:$white;
		&:hover{
			background:$dark-blue
		}
	}

	//SPANNED


	%btnspn {
	  padding: .75em .5em .75em .5em;
	  min-width:110px;
	  height:40px;
	  font-size:14px;
	  color:transparent;
	  background:none;
	  cursor:pointer;
	  border:none;
	  text-align:center;
	  span{
	  	margin:0!important;
	  }
	  text-transform: uppercase;
	  font-family: 'Lato';
	  font-weight: bold;
	  text-decoration: none;
	  border-left: solid 1px transparent;
	  border-right: solid 1px transparent;
	  position: relative;
	  display: inline-block;
	  transform: perspective(1px) translateZ(0);
	  z-index: 1;
	  &:before {
	    content: '';
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: -1;
	    background: transparent;
	    transform: scaleX(0);
	    transform-origin: 50%;
	    transition: transform $transition-extrafast ease-in-out;
	  }
	  &:hover {
	  	color:transparent;
	  	transition: $transition-extrafast ease-in-out;
	    &:before {
	      transform: scaleX(1);
	      transition-delay: $transition-extrafast;
	    }
	    .border-top {
	      .transparent {
	        &:before {
	          transform: scaleX(1);
	        }
	      }
	    }
	    .border-bottom {
	      .transparent {
	        &:before {
	          transform: scaleX(-1);
	          margin-left: 10px;
	        }
	      }
	    }
	  }
	  .border-top,
	  .border-bottom {
	    position: absolute;
	    margin:0;
	    line-height:1;
	    width: 100%;
	    display: flex;
	    flex-direction: row;
	    .transparent {
	      display: block;
	      width: 10px;
	      &:before {
	        content: '';
	        width:100%;
	        height: 1px;
	        display:block;
	        background: transparent;
	        transform: scaleX(0);
	        transform-origin: 0;
	        transition: transform $transition-extrafast ease-in;
	      }
	    }
	    &:after,
	    &:before {
	      content: '';
	      display: block;
	      background: transparent;
	      height: 1px;
	    }
	  }
	  .border-top {
	    top: 0;
	    left: 0;
	    &:before {
	      flex-grow: 2;
	    }
	    &:after {
	      width: 10px;
	    }
	  }
	  .border-bottom {
	    bottom: 0;
	    left: 0;
	    &:before {
	      width: 10px;
	    }
	    &:after {
	      flex-grow: 2;
	    }
	  }

	  &.passive{
	  	border:none;
	  	color:$grey3;
	  	&:hover{
	  		color:$black;
	  	}
	  	&:before,&:after{
	  		display:none;
	  	}
	  	span{
	  		display:none;
	  	}
	  }
	}

	.btnspn-b{
		@extend %btnspn;
		color:$black;
		border-color:$black;
		&:before{
			background:$black;
		}
		&:hover {
			color: $white;
			button{
				color:$white;
				cursor:pointer;
			}
		}
		.border-top,
	    .border-bottom {
	    	.transparent {
	    		&:before {
	    			background: $black;
	    		}
	  		}
	  		&:after,
	    	&:before {
	      		background: $black;
	  		}
	    }
	}

	.btnspn-w{
		@extend %btnspn;
		color:$white;
		border-color:$white;
		&:before{
			background:$black;
		}
		&:hover {
			color: $white;
			border-color:$black;
			.border-top,
	    	.border-bottom {
	    		&:after,
	    		&:before {
	      			background: $black;
	  			}
	    	}
		}
		.border-top,
	    .border-bottom {
	    	.transparent {
	    		&:before {
	    			background: $black;
	    		}
	  		}
	  		&:after,
	    	&:before {
	      		background: $white;
	  		}
	    }
	}

	.Headline .btnspn-b{
		font-family:'Anton';
		letter-spacing:1px;
		min-width:auto;
		height:30px;
		padding:.6em;
		margin:auto;
		@media #{$medium} {
	    	padding:.6em;
	  	}
	}



	//404

	.NoTFound{
		margin:3em 0;
	}

	//TERMS

	.Terms--wrp{
		margin:3em 0;
		@media #{$larg} {
			margin:4.5em 0;
		}

		h1{
			margin-bottom:.375em;
			@media #{$larg} {
				margin-bottom:.75em;
			}
		}
		.Terms--introText{
			margin-bottom:3em
		}
		h2{
			margin-bottom:.75em;
		}

		h3{
			font-family:'Lato';
			font-weight:bold;
			text-transform:none;
		}
		h4{
			margin-bottom:.75em;
		}


		p{
			font-size:1.25em;
			line-height:32px;
			margin-bottom:2em;
		}







	}