.newsLetter{
	position:relative;
	width:250px;

	.newsLetter--btn{
		background: rgba($white,0.12);
		border:1px solid transparent;
		border-radius:25px;
    	padding: 1em;
    	padding-right:50px;
    	font-size:14px;
    	font-weight:bold;
    	color:$white;
    	&:hover{
    		border:1px solid $event-teal;
    		cursor:pointer;
    	}
		&::after{
			content:url("/storage/Gfx/Global/Footer/envelope.svg");
			position: absolute;
		    top: 12px;
		    right: 30px;
		}
	}
}

//IN HEADER

.App-header--newsletter .newsLetter--btn{
	border:1px solid $grey3;
	color:$grey3;
}