.NewsCateg--wrp{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	@media #{$larg} {
    	flex-direction:row;
    }
	.NewsCard--wrp{
		flex-direction:column;
	}
}

.News--wrp{
	margin:1.5em 0;
	@media #{$larg} {
    	margin:2.25em 0;
    }
	width:100%;
	/*.seeAll a{
		color:$purple;
		&:after{
			content:url("/storage/Gfx/Global/seeAll-purple.svg");
		}
	}*/
}

.Categ{
	flex-basis:100%;
	@media #{$larg} {
    	flex-basis:50%;
    }
    @media #{$extra-larg} {
    	flex-basis:57.3%;
    }
}
.Pinned{
	position:relative;
	flex-basis:100%;
	background:$grey5;
	height:615px;
	padding:1.5em 1em;
	@media #{$larg} {
    	flex-basis:45%;
    }
    @media #{$extra-larg} {
    	flex-basis:40%;
    }

    .News-card{
    	height:136px;
    	margin-bottom:1em;
    }

    .Headline,.News--title{
    	background:none;
    }

	.seeMore{
		margin-top:.5em;
		background:none;
	}
	&:after{
		content: '';
	    width: 57px;
	    height: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	}

	&.Saved{
		&:after{
			background: repeating-linear-gradient(-45deg, $red, $red 2px, transparent 2px, transparent 4px);
		}
		&:before{
			content:url("/storage/Gfx/bookmark.svg");
			position:absolute;
			z-index:2;
			right:0;
			top:0;
		}
	}
	&.Recommended{
		&:after{
			background: repeating-linear-gradient(-45deg, $light-blue, $light-blue 2px, transparent 2px, transparent 4px);
		}
	}
}

.NewsCard--wrp{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	flex-direction:column;
	margin-top:1em;
	@media #{$larg} {
    	flex-direction:row;
    	margin-top:1.5em;
    }
}

.News--Title-and-Categs{
	display:flex;
	h2{
		padding-right:.5em;
	}
}

.News--title{
	h2{
		padding-right:.75em;
		white-space:nowrap;
	}
}
.News--Categs{
	display:flex;
}

.NewsCard--wrp---inner{
	flex-basis:57.5%;
}


//LONDON DRAGSCROLL

.EventPage .NewsCard--wrp{
	overflow:auto;
}


//GREYBG NEWS MARGIN

.GreyBG-72 .News--wrp{
	margin:0;
}


