
.MainContent--header{
	position:relative;
	color:$white;
	padding:3em 0;
	@media #{$larg} {
    	padding:4.5em 0;
    }

	&:after{
		@include after-BGline;
	}

	&.sldr{
		height:500px;
		@media #{$larg} {
    		height:586px;
    	}
    	.MainContent--header---wrp .MainContent--title h1{
    		max-height:270px;
    	}
	}

	&.Tickets{
		.MainContent--header---wrp{
			@media #{$larg} {
    			flex-direction:column;
    		}
		}
	}

	//SLIDERS
	&.slideOne{
		@media #{$MAXmedium} {
			background-image: url(/storage/Gfx/Sliders/slideOne/slideOne-bgM.jpg);
		}
		@media #{$medium-larg} {
			background-image: url(/storage/Gfx/Sliders/slideOne/slideOne-bgT.jpg);	
		}
		@media #{$larg} {
			background-image: url(/storage/Gfx/Sliders/slideOne/slideOne-bgD.jpg);
		}		
    	@include bg-cover-pos;
	}
	&.slideTwo{
		background: url(/storage/Gfx/Sliders/slideTwo/slideTwo-bgD.jpg);
    	@include bg-cover-pos;
	}
	&.slideThree{
		@media #{$MAXmedium} {
			background-image: url(/storage/Gfx/Sliders/slideThree/slideThree-bgM.jpg);
		}
		@media #{$medium-larg} {
			background-image: url(/storage/Gfx/Sliders/slideThree/slideThree-bgT.jpg);	
		}
		@media #{$larg} {
			background-image: url(/storage/Gfx/Sliders/slideThree/slideThree-bgD.jpg);
		}
    	@include bg-cover-pos;
	}

	//LONDON
	&.London-hdr{
		background: url(/storage/Gfx/Events/EventsLondon-bgD.jpg);
    	@include bg-cover-pos;
	}

	//AMSTERDAM
	&.Amsterdam-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/showAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/showAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/showAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//AMS-SPEAKER
	&.SpeakersAMS-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Speakers/speakersAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Speakers/speakersAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Speakers/speakersAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//AMS-AGENDA
	&.AgendaAMS-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Agenda/agendaAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Agenda/agendaAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Agenda/agendaAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//AMS-SPONSORS
	&.SponsorsAMS-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//AMS-STARTUP
	&.StartupAMS-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Startup/startupAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Startup/startupAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Startup/startupAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//AMS-TRAVEL
	&.TravelAMS-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Travel/travelAMS-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Travel/travelAMS-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Travel/travelAMS-bgD.jpg);
			@include bg-cover-pos;	
		}
	}

	//USA
	&.America-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/showUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/showUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/showUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//USA-SPEAKER
	&.SpeakersUSA-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Speakers/speakersUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Speakers/speakersUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Speakers/speakersUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//USA-AGENDA
	&.AgendaUSA-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Agenda/agendaUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Agenda/agendaUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Agenda/agendaUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//USA-SPONSOR
	&.SponsorsUSA-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Sponsors/sponsorsUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//USA-STARTUP
	&.StartupUSA-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Startup/startupUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Startup/startupUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Startup/startupUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}
	//USA-TRAVEL
	&.TravelUSA-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Events/Travel/travelUSA-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Events/Travel/travelUSA-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Events/Travel/travelUSA-bgD.jpg);
			@include bg-cover-pos;	
		}
	}

	//CAREERS
	&.Careers-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/About/Careers/careers-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/About/Careers/careers-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/About/Careers/careers-bgD.jpg);
			@include bg-cover-pos;	
		}
	}

	//ABOUT
	&.About-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/About/about-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/About/about-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/About/about-bgD.jpg);
			@include bg-cover-pos;	
		}
	}

	//STARTUPECO
	&.StartupECO-hdr{
		@media #{$MAXmedium-40} {
			background: url(/storage/Gfx/Startup/startupECO-bgM.jpg);
			@include bg-cover-pos;
		}
		@media #{$medium40-extralarg} {
			background: url(/storage/Gfx/Startup/startupECO-bgT.jpg);
			@include bg-cover-pos;
		}
		@media #{$extra-larg} {
			background: url(/storage/Gfx/Startup/startupECO-bgD.jpg);
			@include bg-cover-pos;	
		}		
	}
}

.MainContent--header---wrp{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	@media #{$larg} {
    	flex-direction:row;
    }

	.MainContent--title{
		flex-basis:100%;
		z-index:80;
		margin-bottom:2em;
		max-width:380px;
		cursor:default;
		@media #{$larg} {
    		flex-basis:70%;
    		margin:auto 0;
    		max-width:none;

    		h1{
    			max-height:140px;
    			overflow-y:hidden;
    		}
    	}
    	@media #{$extra-larg} {
    		flex-basis:55%;
    	}

    	.MainContent--title---authorCateg{
    		padding-bottom:1em;
    	}

		.btn-fw,.btnspn-b,.btnspn-w{
			margin-top:1.5em;
			position: relative;
    		z-index: 80;
    		@media #{$larg} {
    			margin-top:2.5em;
    		}
		}
	}
	.MainContent--highlight{
		display:flex;
		justify-content:center;
		position:absolute;
		bottom:2em;
		left:50%;
		z-index:80;
		transform: translate(-50%, 0);
		@media #{$larg-60} {
			flex-direction:column;
			flex-basis:33%;
			margin-top:0;
			position:static;
			transform:none;
		}
		.Highlight{
			background:rgba($black,0.6);
			width:10px;
			height:10px;
			border:2px solid transparent;
			border-radius:25px;
			cursor:pointer;
			margin:0 .25em;
			&:hover{
				border-color:$white;
			}
			.Highlight--details{
				display:none;
			}
			@media #{$larg-60} {
				width:auto;
				height:auto;
				padding:1em;
				margin:1em 0;
				border-radius:0;
				h5{margin-top:.5em;}
				.Highlight--details{
					display:block;
				}
			}
			.Highlight--category{
				color:$grey3;
				a{color:$grey3}
			}

			&.talk{
				h5:before{
					background: url(/storage/Gfx/Talks/play.svg);
				    background-size: cover;
				    content: '';
				    width: 15px;
				    height: 15px;
				    display: inline-block;
				    margin-right: .5em;
				}
			}
			&.Active{
				background:$white;
				color:$black;
				.Highlight--category{
					color:$grey2;
					a{color:$purple}
				}
				&.talk{
					h5:before{
						background: url(/storage/Gfx/Talks/playB.svg);
				    	background-size: cover;
				    }
				}
			}
		}
	}
}

//NEWS PAGE HEADER

.News{
	.MainContent--header---wrp{
		flex-direction:column;
	}
	.MainContent--highlight{
		flex-direction:row;
		@media #{$larg} {
			justify-content:space-between;
			margin-top:2em;
		}
		.Highlight{
			flex-basis:32%;
		}
	}
}

////NEWS PAGE HEADER END





//EVENT HEADER

.Event--name{
	span{
		background:$light-blue;
		display:inline-block;
		padding:.25em .5em;
		margin-bottom:.75em;
	}
}

.America{
	.Event--name{
		span{
			background:$red;
		}
	}
}



.Event--place-and-date{
	display:flex;
	margin-bottom:1.5em;
	margin-left: 1.25em;
	@media #{$larg-60} {
		margin-bottom:2em;
	}
	.Event-card-place{
		margin-right:2em;
		position:relative;

		span:before{
			content: url(/storage/Gfx/pinW.svg);
    		position: absolute;
    		left: -20px;
    		top: 1px;
		}
	}
	.Event-card-date{
		position:relative;

		span:before{
			content: url(/storage/Gfx/calendarW.svg);
	    	position: absolute;
		    left: -20px;
		    top: 0px;
		}
	}
}

.Intro-text{
	margin-top:.5em;
	max-width:80%;
}

//HOME HEADER

.Home .MainContent--header{
	margin-bottom:3em;
	@media #{$larg} {
    	margin-bottom:4.5em;
    }
}


//EVENT HEADER BG GRADIENS

.America .MainContent--header:before,.Amsterdam .MainContent--header:before{
	content:'';
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background: linear-gradient(to right, $purple, rgba($purple,0));
	@media #{$larg} {
		background: linear-gradient(to right, $purple, rgba($purple,0) 60%);
	}
}