.HeadlineSponsorsBox{

    @media #{$larg-60} {
    	position: absolute;
	    right: 0;
	    top: -60px;
    }

    .HeadlineSponsorsBox--Title{
    	display:flex;
    	margin-bottom:1em;
    	@media #{$larg} {
    		margin-bottom:1.5em;
    	}

    	h2{
    		white-space:nowrap;
    	}

    	.seeAll{
    		display:none;
    		@media #{$medium} {
    			display:flex;
    			margin-lefT:auto;
    		}
    	}
    }

    .HeadlineSponsorsBox--wrp{
    	background:$grey5;
		padding:1em;
		@media #{$larg} {
			padding:1.5em;
		}
		@media #{$larg-60} {
			width:$HeadlineSponsorsBoxWidth;
		}
    }

    .linear-BG{
    	@media #{$larg-60} {
    		padding:2em 0;
    	}
    }
}

.HeadlineSponsorsBox--Sponsors{
	display: grid;
    grid-template-columns: repeat(auto-fill, 31.75%);
    justify-content: space-between;

	@media #{$medium-40} {
		grid-template-columns: repeat(auto-fill, 17.75%);
	}
	@media #{$larg-60} {
		grid-template-columns: repeat(auto-fill, 102px);
	}

	.SponsorImgBox{
		height:56px;
		background:$white;
		box-shadow: 0px 1px 4px rgba($black, 0.1);
		display:flex;
		margin:.25em 0;
		padding:.5em;
		@media #{$medium} {
			height:75px;
		}
		@media #{$medium-40} {
			margin:.5em 0;
		}
		@media #{$larg-60} {
			height:56px;
		}
		img{
			margin:0 auto;
		}

		&:hover{
			cursor:pointer;
			transform:scale(1.1);
			transition:all $transition-extrafast;
		}
	}
}


//STARTUP

.Startup .HeadlineSponsorsBox--Sponsors{
	@media #{$larg-60} {
		grid-template-columns: repeat(auto-fill, 140px);
	}
}