.Testimonial--wrp{
	margin-top:1em;
	margin-bottom:3em;
	@media #{$larg} {
		margin-top:1.5em;
    	margin-bottom:4.5em;
    }
}

.TestimonialDetails--wrp{
	display:flex;
	justify-content:space-between;
	margin-top:1em;
	padding-left:4em;
	@media #{$larg} {
		padding-left:5.5em;
		margin-top:auto;
	}

	.Testimonial--person{
		h5{
			text-transform:uppercase;
			font-family:'Anton';
			font-weight:normal;
		}
	}
}

.Testimonial{
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;

	@media #{$larg-60} {
    	flex-direction:row;
    }

	.BigBox{
		flex-basis:40%;
	}

	.BigBox--wrp{
		display:flex;
		flex-direction:column;
		margin-bottom:2em;
		@media #{$larg-60} {
    		margin-bottom:0;
    	}

		h1{
			position:relative;
			padding-left:1.5em;
			margin-top:.25em;
			&:before{
				content:url("/storage/Gfx/Testimonial/coma.svg");
				position:absolute;
				top:0;
				left:0;
				@media #{$larg} {
    				top:-15px;
    			}

			}
		}
	}

	.ImgBoxes--wrp .SmallBox--wrp{
		margin-top:0;
	}
}


//ONELINE TESTIMONIAL

.OneLine--Testimonial---wrp{
	margin:3em 0;
	@media #{$larg-60} {
		margin:4.5em 0;
	}
}

.OneLine--Testimonial{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	@media #{$larg-60} {
		flex-direction:row;
	}

	.testimonial--logo{
		margin-top:2em;
	}
	.ImgBoxes--wrp{
		flex-basis:49%;

		.BigBox{
			padding:2em 1.5em;
			h2{
				font-size:1.5em;
				line-height:30px;
			}
		}
		.SmallBox{
			@media #{$larg-60} {
				height:auto;
			}
		}
	}

	&.reverse{
		@media #{$larg-60} {
			flex-direction:row-reverse;
		}
		.ImgBoxes--wrp .Testimonial{
			background:$dark-blue;
			color:$white;
		}
	}
	&.orange{
		.ImgBoxes--wrp .Testimonial{
			background:$orange;
		}
	}
}

//SPONSORS PAGE

.Sponsors{
	.OneLine--Testimonial.reverse{
		margin-top:1em;
		@media #{$larg-60} {
			margin-top:1.5em;
		}
	}
}