.PromoBoxes--wrp{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.PromoBox{
	flex-basis:100%;
	margin-top:1em;
	cursor:pointer;
	color:$white;
	@include img-crop--parent(220px);
	@media #{$larg} {
    	flex-basis:31.75%;
        margin-top:0;
    }

    img{
    	@include img-crop;
    }

    &:hover{
    	color:$light-blue;
    }
}

.PromoBoxDetails--wrp{
	position: absolute;
    width:90%;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    h6{
        font-weight:normal;
        margin:.5em 0;
    }

    button{
        margin-top:1em;
        &:hover{
            border-color:$light-blue;
            &:before{
                background:$light-blue;
            }
            .border-top:after,.border-top:before,.border-bottom:after,.border-bottom:before{
                background:$light-blue;
            }
        }
    }

}


//STARTUP HUB

.StartupHUB .PromoBoxes--wrp{
    margin-bottom:3em;
    @media #{$larg} {
        margin-bottom:4.5em;
    }
}

//TRAVEL

.Travel .PromoBoxes--wrp{
    margin-bottom:3em;
    @media #{$larg} {
        margin-bottom:4.5em;
    }
}