.TwitterCard{
	padding:1em;
	position:relative;
	background:$white;
	box-shadow: 0px 1px 4px rgba($black, 0.1);
	flex-basis:100%;
	margin-bottom:1em;
	cursor:pointer;
	z-index:1;
	&:hover{
		box-shadow: 0px 4px 16px rgba($black, 0.1);
    	transition: all $transition-fast;
	}
	
	@media #{$medium-40} {
    	flex-basis:48%;
    }

	@media #{$larg-60} {
    	flex-basis:31.75%;
    	margin-bottom:0;
    }
	
	span{
		color:$grey2;
		font-weight:normal;
	}
	&:after{
		content:url("/storage/Gfx/Twitter/twitter.svg");
		position:absolute;
		right: 15px;
    	top: 15px;

	}
	&:before{
		content:url("/storage/Gfx/Twitter/twitter-retweet.svg");
		position:absolute;
		right: 45px;
    	top: 15px;
	}

	.atSign{
		color:$twitter;
		display:inline-block;
		margin-bottom:0;
	}
}

.TwitterCard--Name{
	h5{
		font-weight:normal;
	}
}

.TwitterCard-IMG{
	margin-right:.5em;
	width:36px;
}

.TwitterCard--wrp{
	display:flex;
}

.Twitter--wrp{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-top:3em;
	@media #{$larg} {
		margin-top:4.5em;
	}
}

.TwitterCard--Content{
	margin:1em 0;
}