.Agenda--wrp{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:3em 0;
	padding-top:1.5em;
	padding-bottom:3em;
	background:$grey5;
	@media #{$larg} {
		padding-top:3em;
		margin-bottom:4.5em;
	}

	.drag{
		@media #{$extra-larg} {
    		flex-wrap:wrap;
    		justify-content:space-between;
    		> div {
    			flex-basis:48.8%;
    			align-self:flex-start;
    		}
    	}
	}
}

.AgendaSessionCard--content{
	margin:auto 0;
}

.AgendaSessionCard--read{
	color:$light-blue;
	display:inline-block;
	margin-left:.25em;
}

.Agenda--HighlightSessions{
	margin-top:3em;
	@media #{$larg} {
		margin-top:4.5em;
	}
}

.AgendaSessionCard--wrp{
	display:flex;
	flex-direction:column;
	@media #{$extra-larg} {
		flex-direction:row;
	}

	.AgendaSessionCard--place-and-date{
		display:flex;
		margin-left: 1em;
    	margin-top: 1em;
		> div {
			margin:auto 0;
			margin-right:2em;
			color:$grey1;
			font-weight:bold;
		}
		@media #{$extra-larg} {
			margin-top:0;
			margin-left:1.5em;
		}
	}

	.AgendaSessionCard--category{
		span{
			display:inline-flex;
			color:$white;
			padding:.25em .5em;
			&.green{
				background:$green;
			}
			&.red{
				background:$red;
			}
		}
	}

	.AgendaSessionCard--place{
		position:relative;
		&:before{
			content: url(/storage/Gfx/pin.svg);
		    position: absolute;
		    left: -15px;
		    top: -1px;
		}
	}

	.AgendaSessionCard--date{
		position:relative;
		&:before{
			content: url(/storage/Gfx/calendar.svg);
		    position: absolute;
		    left: -20px;
		    top: -2px;
		}
	}
}

.AgendaSessionCard{
	min-width:300px;
	min-height:280px;
	background:$white;
	display:flex;
	flex-direction:column;
	padding:1em;
	box-shadow: 0px 1px 4px rgba($black, 0.1);
	margin-bottom:1em;
	margin-right:1em;
	cursor:pointer;
	&:hover{
		box-shadow: 0px 4px 16px rgba($black, 0.1);
    	cursor:pointer;
    	transition: all $transition-fast;
	}

	@media #{$medium-40} {
		min-width:400px;
	}

	@media #{$extra-larg} {
    	flex-basis:48%;
    	margin-right:0;
    	margin-bottom:1.5em;
    	min-height:204px;
    }

	h5{
		margin-top:1em;
		margin-bottom:.5em;
	}
	h6{
		color:$grey2;
		font-weight:normal;
	}
}

.Agenda--preview---drag{
	width:960px;
	@media #{$larg} {
		width:auto;
	}
}

.AgendaSessionCard--speaker{
	display:flex;
	margin-top:1em;
	.AgendaSessionCard--speakerIMG{
		margin-right:.5em;
	}
	.AgendaSessionCard--speakerDetails {
		h6{
			color:$black;
			font-weight:bold;
		}
		span{
			margin-top:.25em;
			color:$grey2;
			font-weight:normal;
		}
	}
}


//AGENDA PAGE

.Agenda {

	.PartnerSearch--form{
		.PartnerSearch--input---wrp{
			@media #{$larg} {
				width:31.75%;
			}
		}
	}

	.Agenda--timeWrp{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
		margin-bottom:1em;
		@media #{$larg} {
			flex-wrap:nowrap;
			margin-bottom:0;
		}
		h2{
			flex-basis:100%;
			color:$grey3;
			margin-bottom:1em;
			line-height: 20px;
			font-size: 1em;
			letter-spacing: 0.04em;
			position:relative;
			@media #{$larg} {
				flex-basis:40%;
				padding-left:1.5em;
				font-size: 2em;
				margin-bottom:0;
				line-height:40px;
				&:before{
					content: '';
				    width: 12px;
				    height: 12px;
				    background: $grey3;
				    border-radius: 25px;
				    position: absolute;
				    left: 5%;
				    top: 20px;
				    -webkit-transform: translate(-50%, -50%);
				    transform: translate(-50%, -50%);
				}
			}
			@media #{$larg-60} {
				flex-basis:250px;
			}
		}
		.Agenda--cardWrp{
			flex-basis:100%;
			@media #{$larg} {
				flex-basis:72%;
			}
			.AgendaSessionCard{
				flex-basis:100%;
				margin-right:0;
				@media #{$medium-40} {
					min-height:204px;
				}
			}
		}
	}
	.Agenda--contentTable{
		position:relative;
		@media #{$larg} {
			&:before{
				content: '';
			    display: block;
			    width: 4px;
			    height: 88%;
			    background: $grey4;;
			    position: absolute;
			    left: 10px;
			    top: 0;
			    margin: 1em 0;
			}
		}
	}
	.Agenda--preview{
		margin-bottom:3em;
	}
}