.SpeakerCard{
	cursor:pointer;
	position:relative;
	margin-bottom:3em;

	&:hover{
		.SpeakerCard--fullDetails{
			opacity:1;
			visibility:visible;
			z-index:3;
		}
	}

	@media #{$larg} {
		margin-bottom:3.5em;
	}

	.SpeakerCard--details{
		position: absolute;
	    bottom: -35px;
	    z-index:2;
	    width: 100%;
	    padding:1em;
	    color:$white;
	    background: repeating-linear-gradient(-45deg, rgba($black, 0.8), rgba($black, 0.8) 2px, rgba($black, 0.7) 2px, rgba($black, 0.7) 4px), url('/storage/Gfx/Events/Speakers/speakerCard-mask.png');

	    h5{
	    	font-family:$anton;
	    	text-transform: uppercase;
    		letter-spacing: 1px;
    		font-weight:normal;
	    }
	    span{
	    	margin-top:.5em;
	    }
	}

	.SpeakerCard--fullDetails{
		background:repeating-linear-gradient(-45deg, rgba($black, 0.8), rgba($black, 0.8) 2px, rgba($black, 0.7) 2px, rgba($black, 0.7) 4px), url("/storage/Gfx/Events/Speakers/speakerCard-fullmask.png");
		position:absolute;
		display:flex;
		flex-direction:column;
		top:0;
		left:0;
		opacity:0;
		padding:1em;
		height:110%;
		visibility:hidden;
		h2{
			margin-top:.5em;
			color:$white;
		}
		span{
			color:$white;
			margin:.5em 0;
		}
		.SpeakerCard--fullDetails--wrp{
			display:flex;
			flex-direction:column;
			height:100%;
			margin-bottom:.5em;
			color:$white;
			span.SpeakerCard--fullDetails---text{
				color:$grey4;
				margin-bottom:2em;
				height:50px;
				overflow:hidden;
				@media #{$medium} {
					height:auto;
				}
				@media #{$larg} {
					height:80px;
				}
				@media #{$larg-60} {
					height:auto;
				}
			}
			button{
				margin-top:auto;
				width:110px;
			}
		}
	}

	.SpeakerCard--img{
		@include img-crop--parent(260px);
		@media #{$medium} {
			height: $SpeakerCardHeight
		}
		img{
			@include img-crop;
		}
	}

	&.BecomeCard{
		padding:1em;
		padding-top:1.5em;
		margin-bottom:.75em;
		border:1px solid $black;
		position:relative;
		display:flex;
		flex-direction:column;
		&:hover{
			transition:all $transition-fast;
			background:$black;
			color:$white;
			&:before,&:after{
				display:none;
			}

		}

		@media #{$larg} {
			margin-bottom:1.25em;
		}

		@media #{$extra-larg} {
			padding:3em 1.5em 1.5em 1.5em;
		}

		&:before,&:after{
			content: '';
		    width: 30px;
		    height: 5px;
		    position: absolute;
		    background: $white;
		}
		&:before{
		    left: 10px;
		    bottom: -3px;
		}
		&:after{
		    right: 10px;
		    top: -3px;
		}

		h2{
			font-size:1.5em;
			line-height:28px;
			@media #{$medium-40} {
				font-size:2em;
				line-height:40px;
			}
		}

		h5{
			margin-top:auto;
			font-size: .875em;
			@media #{$medium-40} {
				font-size:1em;
			}
		}
	}
}



// HIGHLIGHTED

.SpeakerCardHighLight{
	display:flex;
	flex-direction:column;
	flex-basis:100%;
	margin-bottom:1.5em;
	@media #{$larg} {
		flex-direction:row;
		justify-content:space-between;
	}

	.SpeakerCardHighLight--img{
		position:relative;
		@media #{$medium} {
			width:48%;
		}
		img{
			width:100%;
		}
		@media #{$larg} {
			@include img-crop--parent(auto);
			flex-basis:50%;
			width:auto;
			img{
				@include img-crop;
				width:auto;
			}
		}
		@media #{$extra-larg} {
			flex-basis:31.75%;
		}
	}

	.SpeakerCardHighLight--details{
		display:none;
		flex-direction:column;
		flex-basis:65%;
		@media #{$larg} {
			display:flex;
			padding-left:1.5em;
		}
		@media #{$extra-larg} {
			padding-left:0;
		}
	}

	.SpeakerCardHighLight--name-and-social{
		display:flex;
		flex-direction:column;
		justify-content: space-between;

		@media #{$extra-larg} {
			flex-direction:row;
		}

		h1{
			font-size:72px;
		}

		.SpeakerCardHighLight--social{
			margin-top:1em;
			@media #{$extra-larg} {
				margin:auto 0;
			}

			img{
				margin-right:1em;
				padding: .5em;
    			cursor:pointer;
    			border-radius: 100%;
    			border: 1px solid $grey4;
    			@media #{$extra-larg} {
					margin-left:1em;
					margin-right:0;
				}

				&.Social--youtube:hover{
					border-color:$youtube;
				}
				&.Social--linkedin:hover{
					border-color:$linkedin;
				}
				&.Social--twitter:hover{
					border-color:$twitter;
				}
			}
		}
	}

	.SpeakerCardHighLight--jobTitle{
		display:flex;
		flex-wrap:wrap;
		margin:1em 0;
		h5{
			font-weight:normal;
		}
	}

	.SpeakerCardHighLight--categ-date-place{
		display:flex;
		margin:1em 0;
		> div {
			margin-right:2em;
			display:flex;
			position:relative;
			
			span{
				margin:auto;
			}

			&.categ{
				padding:.25em .5em;
				background:$light-blue;
				color:$white;
			}
			&.date{
				&:before{
					content:url('/storage/Gfx/Events/Speakers/speaker-calendar.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
    			}
			}
			&.place{
				&:before{
					content:url('/storage/Gfx/Events/Speakers/speaker-pin.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
				}
			}
		}
	}

	.SpeakerCardHighLight--speakContent{
		@media #{$extra-larg} {
			max-width:85%;
		}
		h4{
			margin-bottom:.5em;
		}
	}

	.SpeakerCardHighLight--bio{
		margin-top:auto;
		position:relative;
		color:$grey2;
		padding-top:1em;
		margin-top:1.5em;

		@media #{$extra-larg} {
			max-width:85%;
		}

		&:before{
			content:'';
			width:80px;
			height:5px;
			position:absolute;
			top:0;
			border-top:2px solid $grey3;
		}
	}

	.SpeakerCardHighLight--shortInfo{
		color: $white;
    	position: absolute;
    	top: 0;
    	left: 0;
    	display: flex;
    	flex-direction: column;
    	height: 100%;
    	width: 100%;
    	padding: 1em;
		@media #{$larg} {
			display:none;
		}

		.ShortInfo--categ-date-place{
			.categ span{
				background:$light-blue;
				padding:.25em .5em;
				display:inline-flex;
			}
			.date{
				position:relative;
				margin:.5em 0;
				margin-left:1.25em;
				&:before{
					content:url('/storage/Gfx/Events/calendarW.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
    			}
			}
			.place{
				position:relative;
				margin-left:1.25em;
				&:before{
					content:url('/storage/Gfx/Events/pinW.svg');
					position:absolute;
					left: -20px;
    				top: 2px;
    			}
			}
		}

		.SpeakerCardHighLight--shortName{
			margin-top:auto;
		}
	}
}


//AMERICA

.America{
	.SpeakerCardHighLight--shortInfo .ShortInfo--categ-date-place{
		.categ span{
			background:$red;
		}
	}
	.SpeakerCardHighLight--categ-date-place{
		> div {
			&.categ{
				background:$red;
			}
			&.date:before{
				content:url('/storage/Gfx/Events/Speakers/speaker-calendarR.svg');
			}
			&.place:before{
				content:url('/storage/Gfx/Events/Speakers/speaker-pinR.svg');
			}
		}
	}
}