.App-footer{
	padding:3em 0;
	margin-top:auto;
	color:$grey3;

	@media #{$MAXmedium} {
		background-image: url(/storage/Gfx/Global/Footer/footer-bgM.jpg);
	}
	@media #{$medium-larg} {
		background-image: url(/storage/Gfx/Global/Footer/footer-bgT.jpg);	
	}
	@media #{$larg} {
		padding:4em 0;
		background-image: url(/storage/Gfx/Global/Footer/footer-bgD.jpg);
	}		
    @include bg-cover-pos;
}

.App-footer--menu__wrp{
	display:flex;
	flex-direction:column-reverse;
	justify-content:space-between;
	flex-wrap:wrap;
	margin:3em 0;
	@media #{$larg} {
  		margin:4em 0;
  		flex-direction:row;
	}

}

.App-footer--menu__wrp---followUs > p {
	padding-left:.5em;
}

.newsLetter-and-Social{
	display:flex;
	flex-direction:column;
}