.Search{
	margin:auto;
	button{
		background:url("/storage/Gfx/Global/Header/search.svg");
		background-repeat: no-repeat;
		width:30px;
		height:25px;
		margin-top:2px;
		border:none;
		cursor:pointer;
	}
}

.Search--wrp{
	position: fixed;
	left: 0;
	top: 60px;
	z-index: 90;
	height:100%;
	width: 100%;
	max-height:0;
	overflow:hidden;
	transition: all 1s;
	display:flex;
	flex-direction:column;
	background: linear-gradient(180deg,$grey9 0%, $white 100%);

	&.show{
		max-height:none;
		overflow:scroll;
		transition: all 1s;
		box-shadow:0px 8px 8px rgba(17, 12, 17, 0.2);
		/*&:before{
			content: '';
		    width: 100%;
		    height: 150px;
		    background: linear-gradient(180deg,$grey5 0%, $white 100%);
		    position: absolute;
		    left: 0;
		    top: 0;
		}*/
	}

	.Search--form	{ 
		padding-top: 5px;

		.Search--input-and-results{
			margin: 1.5em auto;
			width: 90%;
			max-width:  960px;
			position:relative;
			
			@media #{$larg} {
				margin: 3em auto;
			}

			@media #{$extra-larg} {
				width:80%;
			}
			&:before{
				content:url("/storage/Gfx/Search/searchG-M.svg");
				position:absolute;
				left: 10px;
			    top: 7px;
			    z-index: 1;
			    @media #{$larg} {
					top:12px;
					left:20px;
					content:url("/storage/Gfx/Search/searchG.svg");
				}
			}

			input{
				width:100%;
				font-family:'Anton';
				text-transform:uppercase;
				height:2em;
				position:relative;
				padding: .25em 0;
				border: 1px solid $grey4;
				padding-left:2em;
				&::placeholder{
    				color:$grey4;
    				font-family:'Anton';
    				font-size:1em;
    			}
				@media #{$larg} {
					font-size:2em;
					height:auto;
				}
			}
			p{margin:1.5em 0}

			.Search--results{
				margin:1.5em 0;
				h5{font-family:'Anton'}
				a{
					&:hover{
						color:$light-blue;
					}
				}
				@media #{$larg} {
					margin: 3em auto;
					padding-left:4em;
				}
			}
		}

	}
}



//PARTNER SEARCH

.PartnerSearch{
	flex-basis:100%;
}

.PartnerSearch--form{
	display:flex;
	flex-wrap:wrap;
	position:relative;
	justify-content:space-between;
	background:repeating-linear-gradient(-45deg, $grey4, $grey4 3px, transparent 3px, transparent 6px);
	padding:1.5em;
	margin-bottom:1.5em;

	.PartnerSearch--input---wrp{
		position:relative;
		width:100%;
		margin-bottom:1em;
		@media #{$larg} {
			width:65%;
			margin-bottom:0;	
		}
	}

	.PartnerSearch--input{
		width:100%;
		@include box-shadow(rgba($black, .02));
		border:none;
		padding: .75em 1em;
		padding-right:3em;
		@include placeholder($grey3);
	}

	.PartnerSearch--button{
		width: 45px;
	    height: 35px;
	    border: none;
	    background: transparent;
	    position: absolute;
	    top:5px;
	    right:0;
	    cursor: pointer;
		&:after{
			content:url("/storage/Gfx/Global/Header/search.svg");
		}
	}

	.Select{
		width: 100%;
		@media #{$larg} {
			width:30%;	
		}
    	&.has-value{
    		.Select-input:after,.Select-input:before{
    			display:none;
    		}
    	}

    	&.is-open{
    		position:relative;
    		.Select-menu-outer{
    			width:100%;
    			position: absolute;
    			z-index:5!important;
    		}
    	}

    	.Select-control{
    		position:relative;
    		padding-left: 10px;
    		background: $white;
    	}

    	.Select-clear-zone{
    		position: absolute;
		    right: 10px;
		    top: 2px;
		    .Select-clear{
		    	font-size:2.5em;
		    	color:$grey3;
		    	cursor:pointer;
		    }
    	}

    	.Select-value{
    		position:absolute;
    		top:10px;
    		left:10px;

    		.Select-value-label{
    			font-size:16px;
    			cursor:pointer;
    		}
    	}

    	.Select-menu-outer{
    		background:$white;
    		@include box-shadow(rgba($black, .2));
    		border-top:1px solid $grey4;
    		padding:.5em 0;
    		padding-left:16px;
    		.Select-option{
    			margin:5px 0;
    			color:$grey3;
    			cursor:pointer;
    			&:hover{
    				color:$light-blue;
    			}
    		}
    	}

    	.Select-placeholder{
    		position: absolute;
		    top: 10px;
		    left: 10px;
		    cursor:pointer;
		    font-size: 16px;
		    color:$grey3;
    	}

		.Select-input{
			display:flex!important;
			&:before{
    			content:url("/storage/Gfx/Search/search-arrow.svg");
    			position: absolute;
    			transform:rotate(180deg);
    			right: 10px;
    			top: 9px;
    		}
			&:after{
    			content:url("/storage/Gfx/Search/search-arrow.svg");
    			position: absolute;
    			right: 10px;
    			top: 17px;
    		}
			input{
				flex-basis:100%;
				height:40px;
				cursor:pointer;
    			border: none;
    			@include box-shadow(rgba($black, .02));
			}
		}
	}
}

//AGENDA SELECT

.Agenda .Select{
	&:last-child{
		margin-top:1em;
		@media #{$larg} {
			margin-top:0;
		}
	}
}