.Talk-card{
	display:flex;
	flex-wrap:wrap;
	background:$white;
	width:300px;
	margin-right:1em;
	box-shadow: 0px 1px 4px rgba($black, 0.1);

    &:hover{
    	box-shadow: 0px 4px 16px rgba($black, 0.1);
    	cursor:pointer;
    	transition: all $transition-fast;
    }
    @media #{$larg-60} {
    	width:auto;
    	margin:0;
    }
}

.Talk-card--details{
	padding:1em;
}

.Talk-card--preview{
	position:relative;
	width:100%;
	&:after{
		display:none;
		content:url("/storage/Gfx/Talks/play.svg");
		position: absolute;
		top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}
}

.Talk-card--category{
	margin:.5em 0;
    color:$red;
	a{color:$red}
}

.Talk-card--date{
	color:$grey2;
}

// IN THE HEADER

.App-header--subli{
	.Talk-card{
		margin:0;
	}
	.Talk-card--details{
		padding:.5em;
	}
	.Talk-card--category{
		margin-top:1em;
		color:$red;
	}
}